.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.ion-app-logo-text{
  font-size: large;
  font-weight: 700;
}

/* .logo-img{
    width: 50%;
    contain: content;
} */

