.header-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}



.logo-img{
    width: 50%;
    contain: content;
}

.pagination-element{
    margin-bottom: 20px;
    margin-top: 20px;
}

.ion-justify-content-around {
     display: flex;
     justify-content: center;
}

.pagination-item {
    margin-left: 10px;
    background-color: #bcbcbc;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.pagination-item.checked { 
    background-color: #545454;   
}

