<ion-app id="ion-app-component">
  <ion-header>
    <div class="header-container">
      <div>
        <img class="logo-img" src="/assets/logo.jpg" alt="Main Logo" />
      </div>
      <ion-button color="medium" (click)="selectedOpen()">
        Избранное
      </ion-button>
    </div>
  </ion-header>

  <app-modal-item
    [checkedItemIsOpen]="checkedItemIsOpen"
    [checkedItem]="checkedItem"
    (buttonClick)="unsetCheckedItem()"
  ></app-modal-item>
  <app-modal-selected
    [selectedIsOpen]="selectedIsOpen"
    (buttonClick)="selectedClose()"
  ></app-modal-selected>

  <app-loading [loading]="loading"></app-loading>
  <app-global-error [error]="error"></app-global-error>
  <error-toast [error]="error"></error-toast>

  <ion-content scrollEvents="true">
    <card-item
      *ngFor="let item of items"
      [item]="item"
      (click)="setCheckedItem(item)"
    ></card-item>

  <app-pagination *ngIf="error.isError==false && loading==false" (goToPage)="goToPage($event)" [currentPage]="currentPage"></app-pagination>
  </ion-content>

</ion-app>
