<ion-app>
  <ion-header>
    <div class="header-container">
      <div>
        <img class="logo-img" src="../assets/logo.jpg" alt="Main Logo" />
      </div>
      <ion-button color="medium" (click)="selectedOpen()"> Избранное </ion-button>
    </div>
  </ion-header>

  <div class="loading-element" *ngIf="loading">
    ЗАГРУЗКА
    <ion-spinner name="lines"></ion-spinner>
  </div>

  <app-modal-item [checkedItemIsOpen]="checkedItemIsOpen"  [checkedItem]="checkedItem" (buttonClick)="unsetCheckedItem()"></app-modal-item>
  <app-modal-selected [selectedIsOpen]="selectedIsOpen" (buttonClick)="selectedClose()"></app-modal-selected>
  <app-global-error [error]="error"></app-global-error>
  <error-toast [error]="error"></error-toast>

  <ion-content scrollEvents="true">
    <card-item
      *ngFor="let item of items"
      [item]="item"
      (click)="setCheckedItem(item)"
    ></card-item>

    <ion-grid class="pagination-element">
      <ion-row class="ion-justify-content-around">
        <ion-col
          *ngFor="let arr of [1, 2, 3]"
          size="3"
          [class]="drowStylePages(arr)"
          (click)="goToPage(arr)"
          >{{ arr }}</ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
