<ion-modal [isOpen]="selectedIsOpen" class="item-modal">
  <ng-template>
    <ion-header>
          <ion-toolbar>
            <ion-title>Избранное</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Закрыть</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      
        <ion-content class="ion-padding">
          <div *ngIf="itemsArr.length===0">В избранном пока пусто</div>

          <div *ngIf="itemsArr.length>0">
          <ion-item *ngFor="let item of itemsArr">
            <ion-thumbnail slot="start">
              <img class='img-selected' [alt]="item.name" [src]="item.image_url" />
            </ion-thumbnail>
            <ion-label>{{item.name}}</ion-label>
            <ion-button color="warning" (click)="removeSelectedBeer(item.id)">Удалить</ion-button>
          </ion-item> 
          </div>
       
        </ion-content>


  </ng-template>
</ion-modal>

